/* typo */
@font-face {
    font-family: "NotoSansMono";
    src: url(assets/fonts/NotoSansMono-VariableFont_wdth.ttf) format("opentype");
}



/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color-green: #D4EED3;
    --secondary-color-grey: #97ABB1;
    --third-color-yellow: #EDEBA0;

    --main-typo: "NotoSansMono";
}

body {
    background-color: #746F72;
}

h1,
h2,
h3 {
    font-family: var(--main-typo);
    font-weight: bold;
}

h1 {
    color: black;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2,
h3 {
    color: var(--main-color-green);
}

p,
li,
button,
a {
    font-family: var(--main-typo);
    color: black;
}

p,
button,
a {
    font-size: 1em;
}



/* header  */



/* Welcome & Result */
.box {
    background-color: var(--secondary-color-grey);
    border-radius: 50em;
    height: 4em;
    max-width: 25em;
    margin: auto;
    display: flex;
    align-items: center;

}

form {
    display: flex;
    align-items: center;
}

input {
    background-color: var(--main-color-green);
    border-radius: 5em;
    border: none;
    background-color: var(--main-color-green);
    width: 10em;
    height: 2em;
    margin-left: 2em;
    margin-right: 2em;
}


.buttonstart {
    background-color: var(--third-color-yellow);
    width: 4em;
    height: 2em;
    font-size: 1em;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

span {
    color: var(--third-color-yellow);
    padding-top: 2em;
    padding-bottom: 2em;
}

.buttontryagain {
    background-color: var(--third-color-yellow);
    width: 6em;
    height: 2em;
    font-size: 1em;
}


@media screen and (min-width: 996px) {
    .result {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }



    /* Welcome & Result */